@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/*---------------------- MAIN ------------------------------------------------- */

.container {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "c c c h"
    "c c c m"
    "c c c m";
}

.header {
  grid-area: h;
  /* background: linear-gradient(143.53deg, #0073BA 7.29%, #07466C 100%); */
}

.nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}
.nav-links li a:hover {
  color: rgb(132, 169, 243);
//   opacity: 0.7;
  transition: 0.2s ease-out;
}

.main {
  grid-area: m;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 80vh;
  /* background: blue; */

  .logo {
    display: flex;
    flex-direction: column;
  }
  .logo-1,
  .logo-2 {
    font-size: 140px;
  }

  .logo-3 {
    text-align: right;
    font-weight: 400;
  }
}

/*---------------------- slider ------------------------------------------------- */
slider {
  z-index: 1050;
  grid-area: c;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #1f1f1f;
  overflow: hidden;
  position: absolute;
}

slider > * {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #1f1f1f;
  animation: slide 12s infinite ease-out;
  overflow: hidden;
}

slide:nth-child(1) {
  left: 0%;
  animation-delay: -1s;
  background-image: url(../images/apartment-beach-bed-bedroom-271643.jpg);
  background-size: cover;
  background-position: center;
}

slide:nth-child(2) {
  animation-delay: 2s;
  background-image: url(../images/apartment-bed-bedroom-contemporary-271672.jpg);
  background-size: cover;
  background-position: center;
}

slide:nth-child(3) {
  animation-delay: 5s;
  background-image: url(../images/bed-bedroom-comfort-contemporary-545046.jpg);
  background-size: cover;
  background-position: center;
}

slide:nth-child(4) {
  left: 0%;
  animation-delay: 8s;
  background-image: url(../images/bedroom-decoration-hotels-interior-833045.jpg);
  background-size: cover;
  background-position: center;
}

slide p {
  font-family: Comfortaa;
  font-size: 70px;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top: 340px;
  color: #fff;
}

@keyframes slide {
  0% {
    left: 100%;
    width: 100%;
  }
  5% {
    left: 0%;
  }
  25% {
    left: 0%;
  }
  30% {
    left: -100%;
    width: 100%;
  }
  31% {
    left: -100%;
    width: 0%;
  }
  100% {
    left: 100%;
    width: 0%;
  }
}

/*---------------------- wave ------------------------------------------------- */
.container {
  background: linear-gradient(143.53deg, #0073ba 7.29%, #07466c 100%);
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(wave.png);
  background-size: 1000px 100px;
}
.container .wave-tan {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-size: 1000px 100px;
  background: url(../css/wave\1png);
}

.container .wave.wave-1 {
  animation: wave 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
.container .wave.wave-2 {
  animation: wave2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
.container .wave.wave-3 {
  animation: wave 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}
.container .wave.wave-4 {
  animation: wave2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}
@keyframes wave {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes wave2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: -1000px;
  }
}

// Media Quers Mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) and (max-width: 1700px) {
    @content;
  }
}
@mixin mediaXxl {
  @media screen and (min-width: 1701px) and (max-width: 1900px) {
    @content;
  }
}
@mixin mediaXxxl {
  @media screen and (min-width: 1901px) {
    @content;
  }
}


@import "mobile";
