@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* main content  */

.container {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "c c h h"
    "c c m m"
    "c c m m";
}

.header {
  grid-area: h;
  /* background: linear-gradient(143.53deg, #0073BA 7.29%, #07466C 100%); */
}

.nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}
.nav-links li a:hover {
  color: aquamarine;
  opacity: 0.5;
}


.main {
  grid-area: m;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 80vh;
  /* background: blue; */
}

/*---------------------- slider ------------------------------------------------- */
.carousel {
  position: absolute;
  z-index: 1001;
  grid-area: c;
  /* background: red; */
}

#slider {
  overflow: hidden;
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

#slider figure img {
  width: 20%;
  float: left;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

/*---------------------- wave ------------------------------------------------- */
.container {
  background: linear-gradient(143.53deg, #0073ba 7.29%, #07466c 100%);
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(wave.png);
  background-size: 1000px 100px;
}
.container .wave-tan {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-size: 1000px 100px;
  background: url(../css/wave\1png);
}

.container .wave.wave-1 {
  animation: wave 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
.container .wave.wave-2 {
  animation: wave2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
.container .wave.wave-3 {
  animation: wave 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}
.container .wave.wave-4 {
  animation: wave2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}
@keyframes wave {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes wave2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: -1000px;
  }
}
