@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  
}



/* main content  */

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
 
}

.header {
  grid-column: 6 / -1;
  grid-row: 1;
  /* background: linear-gradient(143.53deg, #0073BA 7.29%, #07466C 100%); */
}

.nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}
.nav-links li a:hover {
  color: aquamarine;
  opacity: 0.5;
}

.carousel {
  position: absolute;
  z-index: 1001;
  grid-row: 1 / -1;
  grid-column: 1 / 6;
  /* background: red; */
}

.main {
  grid-column: 6 / -1;
  grid-row: 2 / -1;
  /* background: white; */
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main > .logo {
  grid-row: 5 / 5;
}

.logo-1 {
  font-size: 200px;
  /* background: chocolate; */
}

.logo-2 {
  text-indent: .5em;
  font-size: 200px;
  /* background: coral; */

}

.logo-3 {
  display: flex;
  font-size: 23px;
  font-weight: 500;
  /* background: white; */
  justify-content: flex-end;
  align-items: end;
  /* background: indigo; */
  
}

#slider {
  overflow: hidden;
}

#slider figure{
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

#slider figure img {
  width: 20%;
  float: left;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70%{
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

/* wave  */
.container {
  background: linear-gradient(143.53deg, #0073BA 7.29%, #07466C 100%);
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container .wave{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(wave.png);
  background-size: 1000px 100px;
}
.container .wave-tan{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-size: 1000px 100px;
  background: url(../css/wave\ 1.png);
}

.container .wave.wave-1 {
  animation: wave 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
.container .wave.wave-2 {
  animation: wave2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
.container .wave.wave-3 {
  animation: wave 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}
.container .wave.wave-4 {
  animation: wave2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}
@keyframes wave {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes wave2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: -1000px;
  }
}